.skills .--highlight-model {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.skills .skills__container--highlight-html {
    grid-template-areas: 
        "a a a a a"
        "a a a a a"
        "a a a a a"
        "a a a a a"
        "b c d e f";
}

.skills .skills__container--highlight-js {
    grid-template-areas: 
        "b b b b b"
        "b b b b b" 
        "b b b b b" 
        "b b b b b" 
        "a c d e f";
}

.skills .skills__container--highlight-mongodb {
    grid-template-areas: 
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "c c c c c"
        "a b d e f";
}

.skills .skills__container--highlight-nodejs {
    grid-template-areas: 
        "d d d d d"
        "d d d d d"
        "d d d d d"
        "d d d d d"
        "a b c e f";
}

.skills .skills__container--highlight-express {
    grid-template-areas: 
        "e e e e e"
        "e e e e e"
        "e e e e e"
        "e e e e e"
        "a b c d f";
}

.skills .skills__container--highlight-css {
    grid-template-areas: 
        "f f f f f"
        "f f f f f"
        "f f f f f"
        "f f f f f"
        "a b c d e";
}