.skills__container article .__content--enabled {
    display: block;
    opacity: 1;
}

.skills__container i.fa-solid--enabled {
    pointer-events: auto;
    opacity: 1;
}

article.--hover-ef {
    pointer-events: auto;
}

article.--hover-ef:hover {
    outline: 2px solid var(--white);
    cursor: pointer;
}

.skills__container article.justify--enabled {
    justify-content: center;
}

.fade-animation--enabled {
    animation-name: fade;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: both;
    animation-direction: alternate;
    animation-iteration-count: 2;
}