@media (max-width: 700px) {
    html body {
        padding: 5px;
        margin: 0;
    }

    main section {
        margin: 0 0 5px 0;
        padding: 5px 0;
        border-radius: 10px;
    }

    .presents,
    .contact {
        height: auto;
    }

    .presents h1 {
        text-align: center;
    }

    .presents__container {
        flex-direction: column;
    }

    .presents__container article {
        width: 50%;
        text-align: center;
    }

    .carousel {
        height: 330px;
    }

    div.card {
        position: relative;
        padding: 0;
    }

    .card-line {
        display: none;
    }

    div.card .img {
       width: 100%;
       position: absolute;
       margin: 0;
       border-radius: 0;
       filter: brightness(.5);
       pointer-events: none;
    }

    div.description p,
    div.description h2,
    div.description a {
        color: var(--white);
    }

    div.description {
        position: absolute;
        font-size: 1rem;
        width: 80%;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .skills > p {
        display: none;
    }

    .skills__container article {
        pointer-events: none;
    }

    .__skill {
        font-size: 5rem;
    }

    .contact__container {
        flex-direction: column;
    }
}

@media (max-width: 425px) {
    .form-container form.contact-form {
        width: 200px;
    }

    div.card .img {
        height: 120%;
    }

    div.description {
        font-size: 0.8rem;
    }
}