@media (max-width: 1050px) {
    .presents__container article {
        width: 50%;
    }

    .card .img {
       width: 45%;
    }

    div.card .search-system ~ .description > .badges-container img {
        height: 20px;
    }
}