/* card image set */

div.card .to-do-list {
    background: url("https://vinicius-arg.github.io/to-do-list/assets/images/wallpaper.png");
    background-size: cover;
    background-position: center;
}

div.card .snake {
    background: url("../../assets/projects/snake-game.png");
    background-size: cover;
    background-position: center;
}

div.card .vin-lenses {
    background: url("../../assets/projects/vin-lenses.png");
    background-size: cover;
    background-position: center;
}

div.card .pdf-reader {
    background: url("../../assets/projects/pdf.jpg");
    background-size: cover;
    background-position: center;
}

div.card .search-system {
    background: url("../../assets/projects/search-system.png");
    background-size: cover;
    background-position: center;
}

/* cards.css */

.projects {
    flex-direction: column;
    background: var(--gray);
}

.card-line {
    background: var(--light-gray);
    width: 1px;
    height: 60%;
    margin: 0 20px;
}

.projects article {
    width: 80%;
}

.carousel {
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}

.card {
    height: 100%;
    width: 100%;
    background: var(--white);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 20px;
    transform: translateX(0%);
    transition: 500ms ease-in-out;
}

.description {
    width: 350px;
    height: 100%;
    margin: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.description p,
.description h2 {
    color: var(--black);
}

.description h2 {
    margin: 0;
}

.card .img {
    background-image: url(../../assets/wallpapers/main-wp.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    margin: 20px;
    width: 30%;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    transition: 200ms;
}

.card .img:hover {
    transform: scale(1.1);
}

.links a {
    color: var(--black);
    transition: 200ms;
}

.links a:hover {
    color: var(--light-gray);
}

.links a:active {
    color: var(--gray);
}

.controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls * {
    cursor: pointer;
}

.controls .disc {
    width: 15px;
    height: 15px;
    background: var(--white);
}

.disc {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--black);
    margin: 0 10px;
    border-radius: 50%;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--white);
    margin: 0 10px;
    border-radius: 50%; 
    transition: 150ms ease-in-out;
}