.skills {
    background-image: url(../../assets/wallpapers/purple-night.jpg);
    background-size: cover;
    flex-direction: column;
}

.skills p {
    margin: 0;
    color: var(--light-gray);
    font-size: 0.9rem;
}

.skills__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr 1fr; 
    grid-template-areas: 
        "a a b"
        "c d d"
        "e e f";
    height: 400px; 
    width: 80%;
    margin: 20px;
    position: relative;
}

#html { grid-area: a; background: var(--orange);}
#js { grid-area: b; background: var(--yellow); }
#mongodb { grid-area: c; background: var(--green); }
#nodejs { grid-area: d; background: var(--dark-green); }
#express { grid-area: e; background: var(--black); }
#css { grid-area: f; background: var(--blue); }

.skills__container article {
    padding: 10px;
    margin: 4px;
    display: flex;
    align-items: center;
    pointer-events: none;
    transition: 80ms;
}

.skills__container .fa-solid {
    position: absolute;
    top: 25px;
    left: 15px;
    cursor: pointer;
    opacity: 0;
    width: 20px;
    height: 20px;
    transition: 100ms;
    pointer-events: none;
}

.skills__container .fa-solid:hover {
    filter: drop-shadow(0 0 5px var(--white));
}

.__skill {
    font-size: 5rem;
    pointer-events: none;
}

.__content {
    display: none;
    width: 50%;
    margin: 0 20px;
    opacity: 0;
    text-align: justify;
}

.__content p {
    font-size: 1.05rem;
    color: var(--white);
    pointer-events: inherit;
}