@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes twinkling-bg {
    to {
        filter: drop-shadow(0 0 5px #bbb);
    }
}

@keyframes wave {
    0%, 42%, 100% {
        transform: rotate(-10deg);
    }

    10%, 26% {
        transform: rotate(-22.5deg);
    }

    18%, 34% {
        transform: rotate(22.5deg);
    }
}