:root {
    --black: #000;
    --white: #fff;
    --transp-gray: #000000e5;
    --transp-black: #000000a1;
    --light-gray: #bbb;
    --gray: #333;
    --orange: #ffa500;
    --yellow: #ffc400;
    --green: #1fa72a;
    --dark-green: #004d00;
    --blue: #2954b1;
    --purple: #32134e;
}