@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --purple: #000000;
}

* {
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

body {
    background-color: #000;
    box-shadow: inset 0 0 200px #000000e5;
    padding: 10px;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

section h1 {
    font-size: 2.5rem;
}

.x-line {
    width: 50%;
    height: 1px;
    background-color: #fff;
    margin: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #000;
}

::-webkit-scrollbar-thumb {
    background-color: #444;
    border-radius: 5px;
}

.presents {
    flex-direction: column;
    background: url(../assets/wallpapers/purple-bg.jpg);
    background-size: cover;
}

.presents__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;
}

.presents__container .__photo {
    background: url(../assets/profile/photo.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 30px #000;
    margin: 0 20px;
}

.presents__container article {
    width: 30%;
    padding: 30px;
}

.projects {
    flex-direction: column;
    background: #444;
}

.y-line {
    background: #000;
    width: 1px;
    height: 60%;
    margin: 0 20px;
}

.projects article {
    width: 80%;
}

.carousel {
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}

.card {
    height: 100%;
    width: 100%;
    background: #fff;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
}

.description {
    width: 50%;
    margin: 30px;
}

.description p,
.description h2 {
    color: #000;
}

.card img {
    border-radius: 20px;
    margin: 20px;
}

.links a {
    color: #000;
}

.disc {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #000;
    margin: 0 10px;
    border-radius: 50%;
}