@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("./css-dependences/root.css");
@import url("./css-dependences/animation.css");

@import url("./app-container/presents.css");
@import url("./app-container/cards.css");
@import url("./app-container/skills.css");
@import url("./app-container/contact.css");

@import url("./dynamic-classes/skills.js.css");
@import url("./dynamic-classes/grid.templates.js.css");

body {
    background-color: var(--black);
    color: var(--white);
    padding: 10px;
    font-family: 'Poppins', sans-serif;
}

section {
    box-shadow: inset 0 0 200px var(--transp-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

section h1 {
    font-size: 2.5rem;
    margin: 0;
}

input,
textarea {
    border: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    resize: none;
}

input::placeholder,
textarea::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
}

input:focus-visible,
textarea:focus-visible {
    outline: 0;
}

.line {
    width: 50%;
    height: 1px;
    background: var(--white);
    margin: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 5px;
}