@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --transp-gray: #000000e5;
    --light-gray: #bbb;
    --gray: #444;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--white);
}

body {
    background-color: var(--black);
    padding: 10px;
}

section {
    box-shadow: inset 0 0 200px var(--transp-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    border-radius: 20px;
    padding: 10px;
    margin: 20px;
}

section h1 {
    font-size: 2.5rem;
    margin: 0;
}

.x-line {
    width: 50%;
    height: 1px;
    background-color: var(--white);
    margin: 30px;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: var(--black);
}

::-webkit-scrollbar-thumb {
    background-color: var(--gray);
    border-radius: 5px;
}

.presents {
    flex-direction: column;
    background: url(../assets/wallpapers/purple-bg.jpg);
    background-size: cover;
}

.presents__container {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.25rem;
}

.presents__container .__photo {
    background: url(../assets/profile/photo.jpg);
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;
    box-shadow: inset 0 0 30px var(--black);
    margin: 0 20px;
}

.presents__container article {
    width: 30%;
    padding: 30px;
}

.projects {
    flex-direction: column;
    background: var(--gray);
}

.card-line {
    background: var(--light-gray);
    width: 1px;
    height: 60%;
    margin: 0 20px;
}

.projects article {
    width: 80%;
}

.carousel {
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 20px;
}

.card {
    height: 100%;
    width: 100%;
    background: var(--white);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    transform: translateX(0%);
    transition: 500ms ease-in-out;
}

.description {
    width: 50%;
    margin: 30px;
}

.description p,
.description h2 {
    color: var(--black);
}

.card img {
    border-radius: 20px;
    margin: 20px;
}

.links a {
    color: var(--black);
}

.controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.controls * {
    cursor: pointer;
}

.controls .disc {
    width: 15px;
    height: 15px;
    background: var(--white);
}

.disc {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: var(--black);
    margin: 0 10px;
    border-radius: 50%;
}

.circle {
    display: inline-block;
    width: 10px;
    height: 10px;
    border: 1px solid var(--white);
    margin: 0 10px;
    border-radius: 50%; 
    transition: 250ms ease-in-out;
}